<body>
<h1>This is freenew page</h1><br>
  <form action = "/freepost" method="POST">
    Title: <input type="string" name="title">
    ID: <%= current_user.uid %>
    <input type="hidden" name="username" value="<%= current_user.uid %>">
    Content: <input type="text" name="content">

    <input type = "submit" value="Send">
  </form>

  <br>
  <h1><a href="/freeindex">Return to Index</a></h1>



</body>
